---
import Layout from '@layouts/PlaygroundLayout.astro';
import { Icon } from 'astro-icon';
---

<Layout title="CL - Playground Dribble #2" font_href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800;900&display=swap" description="A Playground for making dribbble designs to an actual webpage. This is Playground Dribble #2.">
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
    <section class="playground-wrap bg-[#efede9] pb-32 color-[color:var(--color-body)] overflow-hidden">
        <header class="full wrapper">
            <div class="grid grid-cols-6 py-4 items-center">
                <div class="logo w-20">
                    <h1>
                        <img src="/assets/img/cl-face.png" alt="Logo">
                    </h1>
                </div>
                <!-- /.logo -->
                <div class=" col-span-5 flex justify-end lg:justify-between">
                    <nav class="menu hidden lg:flex">
                        <div class="container text-[#6b6c69] flex flex-wrap justify-start uppercase items-center space-x-0 md:space-x-12 font-semibold">
                            <a href="">About</a>
                            <a href="">Advantages</a>
                            <a href="">Top Products</a>
                            <a href="">Cocktail Recipes</a>
                        </div>
                        <!-- /.container flex flex-wrap justify-between -->
                    </nav>
                    <!-- /.menu -->
                    <div class="button-container inline-flex space-x-4">
                        <a href="/" class="inline-flex items-center border-2 border-grey-100 text-[color:var(--color-body)] py-1 px-2 rounded-full uppercase">
                            <Icon name="emojione:flag-for-australia" class="w-6 h-6 mr-1 fill-[color:var(--color-primary)]" />
                            Eng
                            <Icon name="eva:arrow-ios-downward-fill" class="w-4 font-bold h-6 mr-1 fill-[color:var(--color-primary)]" />
                        </a>
                        <a href="/" class="border-2 border-grey-100 text-[color:var(--color-primary)] py-2 px-6 rounded-full uppercase">
                            Contact Us
                        </a>
                    </div>
                    <!-- /.button-container -->
                </div>
            </div>
            <!-- /.flex -->
        </header>
        <!-- /.full wrapper -->
        <div class="title mt-16 md:mt-24 md:mb-24 lg:mb-48 ">
            <div class="title-container lg:tracking-[-0.7rem] text-center py-4 md:py-1 wrapper">
                <h1 class="w-full leading-none tracking-none font-black text-[color:var(--color-primary)]">FRUIT BASES</h1>
            </div>
            <!-- /.title-container -->
        </div>
        
        <div class="tile-slider py-24">
            <div class="swiper wrapper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="slider-content">
                            <h3 class="mb-2 text-md md:text-xl font-semibold">Sweet Banana</h3>
                            <figure class="flex featured-image bg-[color:var(--color-secondary)] mb-2">
                                <img src="/assets/img/pl-dribbble-2/drink1.jpg" alt="">
                            </figure>
                            <!-- /.featured-image -->
                            <div class="content w-36 sm:w-48 md:w-60">
                                <p>Sweet banana - absolutely popular taste!</p>
                            </div>
                            <!-- /.content -->
                        </div>
                        <!-- /.slider-content -->
                    </div>
                    <div class="swiper-slide">
                        <div class="slider-content">
                            <h3 class="mb-2 text-md md:text-xl font-semibold">Sweet Payaya</h3>
                            <figure class="flex featured-image bg-[color:var(--color-secondary)] mb-2">
                                <img src="/assets/img/pl-dribbble-2/drink3.jpg" alt="">
                            </figure>
                            <!-- /.featured-image -->
                            <div class="content w-36 sm:w-48 md:w-60">
                                <p>Excellent combination for summer cocktails!</p>
                            </div>
                            <!-- /.content -->
                        </div>
                        <!-- /.slider-content -->
                    </div>
                    <div class="swiper-slide">
                        <div class="slider-content">
                            <h3 class="mb-2 text-md md:text-xl font-semibold">Sweet Pineapple</h3>
                            <figure class="flex featured-image bg-[color:var(--color-secondary)] mb-2">
                                <img src="/assets/img/pl-dribbble-2/drink2.jpg" alt="">
                            </figure>
                            <!-- /.featured-image -->
                            <div class="content w-36 sm:w-48 md:w-60">
                                <p>Sweet and sour combination of exotic fruits!</p>
                            </div>
                            <!-- /.content -->
                        </div>
                        <!-- /.slider-content -->
                    </div>
                    <div class="swiper-slide">
                        <div class="slider-content">
                            <h3 class="mb-2 text-md md:text-xl font-semibold">Pitted Passionfruit</h3>
                            <figure class="flex featured-image bg-[color:var(--color-secondary)] mb-2">
                                <img src="/assets/img/pl-dribbble-2/drink4.jpg" alt="">
                            </figure>
                            <!-- /.featured-image -->
                            <div class="content w-36 sm:w-48 md:w-60">
                                <p>The real Mojito with excellent mint extract!</p>
                            </div>
                            <!-- /.content -->
                        </div>
                        <!-- /.slider-content -->
                    </div>
                </div>
                <!-- /.swiper-wrapper -->

            </div>
            <!-- /.flex flex-wrap -->
        </div>
        <!-- /.tile-slider -->
        <div class="py-12 text-center">
            <a href="/" class="text-white bg-[color:var(--color-primary)] py-4 px-8 rounded-full">
                Back to home
            </a>
        </div>
        <!-- /.py-8 -->
    </section> 
</Layout>
<script type="module">
    import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.esm.browser.min.js';
    const swiper = new Swiper('.swiper', {
        loop: true,
        slidesPerView: 4,
        spaceBetween: 8,
        autoplay: {
            delay: 2000
        },
        breakpoints: {
            320: {
                slidesPerView: 2
            },
            480: {
                slidesPerView: 3
            },
            640: {
                slidesPerView: 3
            },
            800: {
                slidesPerView: 4
            }
        }
    });
</script>
<style lang="scss">
	@use '../../styles/mixin.scss' as *;

    .tile-slider {
        transform:rotate(-5deg) scale(1.03);
        overflow: hidden;
    }
    .swiper {
        overflow:visible !important;
    }
    .swiper-wrapper {

    }
    .swiper-slide {
        .slider-content {
            color: var(--color-body);
            .featured-image {
                overflow:hidden;
                img {
                    width: 100%;
                    aspect-ratio: 1 / 1;
                    object-fit: cover;
                }
            }
        }
    }
    .font-title {
        font-size:15vw;
    }

    :root {
        --color-primary: #0718e4;
        --color-secondary: #cb4a8a;
        --color-body: #494a47;
    }
    a {
        font-weight:600;
    }
    .playground-wrap {
        min-height:100vh;
    }
    .content {
        p {
            &:not(:last-child) {
                margin-bottom:rem(16);
            }
        }
    }
    nav {
        &.menu {
            font-size:rem(12);
        }
    }
    .button-container {
        a {
            font-size:rem(12);
        }
    }
    .tiles {
        .tile-item {
            border: 2px solid var(--color-primary);
            border-top:0;
            border-left:0;
            border-right:0;
            @screen md {
                &:nth-child(odd) {
                    border-right: 2px solid var(--color-primary);
                }
            }
            @screen lg {
                border-top:0;
                border-left:0;
                border-right: 2px solid var(--color-primary);
            }
            &:last-child {
                @screen md {
                    border-right:0;
                }
            }
        }
        .link {
            text-transform: uppercase;
            a {
                font-weight: 700;
            }
        }
    }

    .wrapper {
        max-width: 1350px;
        width:100%;
        margin:0 auto;
        padding: 0 rem(32);
    }

    .title {
        .title-container {
            h1 {
                font-size:14vw;
                transform:scaleY(1.75);
                @screen lg {
                    font-size:15vw;
                }
                @screen xl {
                    font-size: rem(208);
                }
            }
        }
    }

</style>