<<<<<<< HEAD
<<<<<<< HEAD
/** 
/  CSS RESET
**/
=======
/* 
// CSS RESET
*/
>>>>>>> 3fbea8f (Update: Initial playaround with astro.)
=======
/** 
/  CSS RESET
**/
>>>>>>> cade9f7 (Update: Created Title Component & Introduction List partial.)
*, *::before, *::after {
box-sizing: border-box;
}
* {
    margin: 0;
}
html, body {
<<<<<<< HEAD
<<<<<<< HEAD
    // height: 100%;
=======
    height: 100%;
>>>>>>> 3fbea8f (Update: Initial playaround with astro.)
=======
    // height: 100%;
>>>>>>> 64311ed (Addition: Finalised Post Layout for posts layout and tried Markdown using the PostLayout)
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
#main, #__next {
    isolation: isolate;
}
