---
import Layout from '@layouts/MainLayout.astro';
import notFound from '@img/404.svg';
---

<Layout title="404 - Sorry!" description="Oops, sorry can't seem to find the page you're looking for!">
    <section class="section-wrapper py-8 grid grid-cols-1 gap-3 sm:grid-cols-2 dark:text-white items-center m-auto text-grey sm:px-3">
        <div class="flex flex-col">
            <h1 class="text-2xl mt-0 mb-4">404</h1>
            <h2 class="text-xl space-y-4">
                <span class="block">Ooops!</span>
                <span class="block">Can't seem to find the page you're looking for. :(</span>
            </h2>
        </div>
        <div class="flex flex-col">
            <figure class="w-full">
                <img src={notFound} alt="404 Image Not Found" class="w-full">
            </figure>
            <!-- /.w-full -->
        </div>
        <!-- /.flex flex-col -->
    </section>
</Layout>

