---
<<<<<<< HEAD
import Layout from '@layouts/MainLayout.astro';
import Title from '@components/Title.astro';
import LogItem from '@components/LogItem.astro';

import { DateTime } from 'Luxon';
const allLogs = await Astro.glob('./logs/*.md');

const sortLogsByDate = allLogs.sort((a,b) => {
	const beforeDate = DateTime.fromFormat(a.frontmatter.compareDate, 'd/MM/yyyy');
	const afterDate = DateTime.fromFormat(b.frontmatter.compareDate, 'd/MM/yyyy');
	return afterDate - beforeDate;
});


---

<Layout title="Christian Luntok" description="Welcome to my site, hope you enjoy your stay!">
	<Title title="Christian Luntok" />
	<div class="latest-logs text-grey dark:text-white flex flex-col section-wrapper justify-center px-8 py-8 sm:px-3">
		<h2 class="text-xl mb-8">Latest Logs</h2>
=======
import Layout from '../layouts/Layout.astro';
---

<Layout title="Christian Luntok.">
	<main id="main">
		<section class="main-wrapper flex flex-wrap justify-center items-center">
			<div class="title-section">
				<h1 class="text-center name-title">Christian Luntok</h1>
				<ul class="introduction-list my-3 flex flex-wrap text-center justify-center w-100 content-center">
					<li>Design.</li>
					<li>Create.</li>
					<li>Develop.</li>
				</ul>
				<div class="button-wrapper flex flex-wrap justify-center">
					<a target="_blank" href="https://github.com/christian-luntok" class="text-[#28292A] rounded-small text-sm px-5 py-2 5 text-center inline-flex items-center mr-2 mb-2">
						<svg class="w-6 h-6" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="github-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480 512"><path d="M186.1 328.7c0 20.9-10.9 55.1-36.7 55.1s-36.7-34.2-36.7-55.1 10.9-55.1 36.7-55.1 36.7 34.2 36.7 55.1zM480 278.2c0 31.9-3.2 65.7-17.5 95-37.9 76.6-142.1 74.8-216.7 74.8-75.8 0-186.2 2.7-225.6-74.8-14.6-29-20.2-63.1-20.2-95 0-41.9 13.9-81.5 41.5-113.6-5.2-15.8-7.7-32.4-7.7-48.8 0-21.5 4.9-32.3 14.6-51.8 45.3 0 74.3 9 108.8 36 29-6.9 58.8-10 88.7-10 27 0 54.2 2.9 80.4 9.2 34-26.7 63-35.2 107.8-35.2 9.8 19.5 14.6 30.3 14.6 51.8 0 16.4-2.6 32.7-7.7 48.2 27.5 32.4 39 72.3 39 114.2zm-64.3 50.5c0-43.9-26.7-82.6-73.5-82.6-18.9 0-37 3.4-56 6-14.9 2.3-29.8 3.2-45.1 3.2-15.2 0-30.1-.9-45.1-3.2-18.7-2.6-37-6-56-6-46.8 0-73.5 38.7-73.5 82.6 0 87.8 80.4 101.3 150.4 101.3h48.2c70.3 0 150.6-13.4 150.6-101.3zm-82.6-55.1c-25.8 0-36.7 34.2-36.7 55.1s10.9 55.1 36.7 55.1 36.7-34.2 36.7-55.1-10.9-55.1-36.7-55.1z"/></svg>

					</a>
					<a target="_blank" href="https://www.linkedin.com/in/christian-luntok/" class="text-[#28292A] rounded-small text-sm px-5 py-2 5 text-center inline-flex items-center mr-2 mb-2">
						<svg class="w-6 h-6" aria-hidden="true" focusable="false" data-preix="fab" data-icon="linkedin-in" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor"d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"/></svg>
					</a>
				</div>
				<!-- /.button-wrapper -->
			</div>
			<!-- /.title-section -->
		</section>
		<!-- /.main-wrapper -->
	</main>
</Layout>

<style lang="scss">
	@import '../styles/reset.scss';
	@import '../styles/mixin.scss';
	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}

	h1 {
		margin: 2rem 0;
		&.name-title {
			font-size:rem(24);
		}
	}

	main {
		margin: auto;
		padding: 0 15px;
		max-width: rem(900);
	}

	.main-wrapper {
		padding: rem(100) 0;
		min-height:100vh;
	}
>>>>>>> 3fbea8f (Update: Initial playaround with astro.)

		<div class="logs">
			{
				sortLogsByDate.map((log) => 
					<LogItem title={log.frontmatter.title} tags={log.frontmatter.tags} linkUrl={log.url} date={log.frontmatter.date} />
				)
			}
		</div>
		<!-- /.logs -->
	</div>
	<!-- /.latest-logs -->
</Layout>

<style lang="scss" is:global>
	@use '../styles/mixin.scss' as *;
	h1 {
		&.name-title {
			font-size:rem(18);
		}
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}

<<<<<<< HEAD
	.logs {
		.log-item {
		}
=======
	.introduction-list {
		font-family:var(--font-main);
		font-weight:700;
		li {
			font-size:rem(72);
			display:block;
			@screen md {
				font-size: rem(96);
				&:not(first-child) {
				margin-left:rem(32);
				}
			}
		}
	}

	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		background: #4f39fa;
		padding: 1rem;
		border-radius: 0.4rem;
		color: var(--color-bg);
>>>>>>> 3fbea8f (Update: Initial playaround with astro.)
	}

	.introduction-list {
		font-family:var(--font-main);
		li {
			font-size:rem(28);
			display:block;
			@screen md {
				font-size: rem(28);
				&:not(:last-child) {
				margin-right:rem(8);
				}
			}
		}
	}


</style>
