---
import Layout from '@layouts/MainLayout.astro';
import Title from '@components/Title.astro';
import GetLogs from '@components/GetLogs.astro';


---

<Layout title="Christian Luntok" description="Welcome to my site, hope you enjoy your stay!">
	<Title title="Christian Luntok" />
	<div class="latest-logs text-grey dark:text-white flex flex-col section-wrapper justify-center px-8 py-8 sm:px-3">
		<h2 class="text-xl mb-8">Latest Posts</h2>
		<div class="logs">
			<GetLogs category="logs"/>
		</div>
		<!-- /.logs -->
	</div>
	<!-- /.latest-logs -->
</Layout>

<style lang="scss" is:global>
	@use '../styles/mixin.scss' as *;
	h1 {
		&.name-title {
			font-size:rem(16);
		}
	}

	.title-wrapper {
		max-width: rem(900);
	}

	.logs {
		.log-item {
		}
	}

	.introduction-list {
		font-family:var(--font-main);
		li {
			font-size:rem(24);
			font-weight: 700;
			display:block;
			@screen md {
				font-size: rem(26);
				&:not(:last-child) {
				margin-right:rem(8);
				}
			}
		}
	}
</style>
