---
import Layout from '@layouts/MainLayout.astro';
import Title from '@components/Title.astro';
import LogItem from '@components/LogItem.astro';

import { DateTime } from 'Luxon';
const allLogs = await Astro.glob('./logs/*.md');

const sortLogsByDate = allLogs.sort((a,b) => {
	const beforeDate = DateTime.fromFormat(a.frontmatter.compareDate, 'd/MM/yyyy');
	const afterDate = DateTime.fromFormat(b.frontmatter.compareDate, 'd/MM/yyyy');
	return afterDate - beforeDate;
});


---

<Layout title="Christian Luntok" description="Welcome to my site, hope you enjoy your stay!">
	<Title title="Christian Luntok" />
	<div class="latest-logs text-grey dark:text-white flex flex-col section-wrapper justify-center px-8 py-8 sm:px-3">
		<h2 class="text-xl mb-8">Latest Logs</h2>

		<div class="logs">
			{
				sortLogsByDate.map((log) => 
					<LogItem title={log.frontmatter.title} tags={log.frontmatter.tags} linkUrl={log.url} date={log.frontmatter.date} />
				)
			}
		</div>
		<!-- /.logs -->
	</div>
	<!-- /.latest-logs -->
</Layout>

<style lang="scss" is:global>
	@use '../styles/mixin.scss' as *;
	h1 {
		&.name-title {
			font-size:rem(18);
		}
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}

	.logs {
		.log-item {
		}
	}

	.introduction-list {
		font-family:var(--font-main);
		li {
			font-size:rem(28);
			display:block;
			@screen md {
				font-size: rem(28);
				&:not(:last-child) {
				margin-right:rem(8);
				}
			}
		}
	}


</style>
