---
import LogItem from '@components/LogItem.astro';
import Layout from '@layouts/MainLayout.astro';
import { DateTime } from 'luxon';

const allLogs = await Astro.glob('./logs/*.md');

const sortLogsByDate = allLogs.sort((a,b) => {
	const beforeDate = DateTime.fromFormat(a.frontmatter.compareDate, 'd/MM/yyyy');
	const afterDate = DateTime.fromFormat(b.frontmatter.compareDate, 'd/MM/yyyy');
	return afterDate - beforeDate;
});

// const groupLogsbyMonth = function( logsObj ) {
// 	const objPeriod = {};
// 	logsObj.map( (log, index ) => {
// 		const date = DateTime.fromFormat(log.frontmatter.compareDate, 'd/MM/yyyy');
// 		const month = date.toFormat('MMMM') + " " + date.toFormat('yyyy');

// 		// date = ( date.toFormat('yyyy') - 1970 ) * ( 12 + date.toFormat('MM'));
// 		// var year = (date.toFormat('yyyy') - 1970 );
// 		// var month = ( parseInt(date.toFormat('MM')) + 12);
// 		// objPeriod[month] = objPeriod[month] || [];
// 		// objPeriod[month].push(logsObj[index]);

// 		// if ( !objPeriod['month'][month] ) {
// 		// 	objPeriod['month'][month] = [log.frontmatter.title];
// 		// } else {
// 		// 	objPeriod['month'][month].push(log.frontmatter.title);
// 		// }

// 		if ( !objPeriod[month] ) {
// 			objPeriod[month] = [log.frontmatter.title];
// 		} else {
// 			objPeriod[month].push(log.frontmatter.title);
// 		}
// 	});
// 	return objPeriod;
// }

// const groupedByMonth = groupLogsbyMonth(sortLogsByDate);

// console.log( groupedByMonth );

// for (var i in groupedByMonth ) {
// 		if ( groupedByMonth.hasOwnProperty(i) ) {
// 			console.log(groupedByMonth+'->'+groupedByMonth[i]);
// 		}
// }
---
<Layout title="Logs ðŸ“" description="Collection of logs that I'm putting within the website!">
	<div class="latest-logs text-grey dark:text-white flex flex-col section-wrapper justify-center px-8 pt-0 pb-8 sm:px-3">
		<div class="mb-8">
			<h2 class="text-xl mb-4">Logs</h2>
			<div class="content">
				<p>Welcome to this little corner of the web where I share my thoughts and logs within the web developent space.</p>
				<p>I hope you find some of them interesting. If so, I'd love to hear from you!</p>
			</div>
			<!-- /.content -->
		</div>
		<!-- /.title-wrapper -->
		<div class="logs">
			{
				sortLogsByDate.map( (logItem) => 
					<LogItem title={logItem.frontmatter.title} tags={logItem.frontmatter.tags} linkUrl={logItem.url} date={logItem.frontmatter.date} />
				)
			}
		</div>
		<!-- /.logs -->
	</div>
	<!-- /.latest-logs -->
</Layout>
