---
import Layout from '@layouts/MainLayout.astro';
import GetLogs from '@components/GetLogs.astro';

---
<Layout title="Playground 💻" description="Collection of technical logs that I'm putting within the website!">
	<div class="latest-logs text-primaryGrey-200 dark:text-white flex flex-col section-wrapper justify-center px-8 pt-0 pb-8 sm:px-3">
		<div class="mb-8">
			<h2 class="text-xl mb-4 text-white">Playground</h2>
			<div class="content">
				<p>These are my logs on programming solutions which you can use!</p>
				<p>I hope you find some of them interesting. If so, I'd love to hear from you! Drop an email to <a href="mailto:hey@cjluntok.com">hey@cjluntok.com</a>.</p>
			</div>
			<!-- /.content -->
		</div>
		<!-- /.title-wrapper -->
        <div class="logs">
			<GetLogs category="playgrounds" />
		</div>
		<!-- /.logs -->
	</div>
	<!-- /.latest-logs -->
</Layout>
