---
export interface Props {
    introductionList: Array<string>
}
const { introductionList } = Astro.props as Props;
---

<ul class="introduction-list my-3 flex flex-wrap w-100 content-center">
    {
        introductionList.map( listItem => (
            <li>{listItem}</li>
        ))
    }
</ul>