---
export interface Props {
    IntroductionList: Array<string>
}
const { IntroductionList } = Astro.props as Props;
---

<ul class="introduction-list my-3 flex flex-wrap text-center justify-center w-100 content-center">
    {
        IntroductionList.map( (IntroductionList) => (
            <li>{IntroductionList}</li>
        ))
    }
</ul>