---
export interface Props {
    introductionList: Array<string>
}
const { introductionList } = Astro.props as Props;
---
<ul class="introduction-list mb-3 flex flex-wrap w-100 content-center">
    {
        introductionList.map( listItem => (
            <li class="dark:text-grey-100">{listItem}</li>
        ))
    }
</ul>