---
export interface Props {
<<<<<<< HEAD
    introductionList: Array<string>
}
const { introductionList } = Astro.props as Props;
---

<ul class="introduction-list mb-3 flex flex-wrap w-100 content-center">
    {
        introductionList.map( listItem => (
            <li class="dark:text-grey-100">{listItem}</li>
=======
    IntroductionList: Array<string>
}
const { IntroductionList } = Astro.props as Props;
---

<ul class="introduction-list my-3 flex flex-wrap text-center justify-center w-100 content-center">
    {
        IntroductionList.map( (IntroductionList) => (
            <li>{IntroductionList}</li>
>>>>>>> cade9f7 (Update: Created Title Component & Introduction List partial.)
        ))
    }
</ul>