---
export interface Props {
<<<<<<< HEAD
<<<<<<< HEAD
    introductionList: Array<string>
}
const { introductionList } = Astro.props as Props;
---

<ul class="introduction-list mb-3 flex flex-wrap w-100 content-center">
    {
        introductionList.map( listItem => (
            <li class="dark:text-grey-100">{listItem}</li>
=======
    IntroductionList: Array<string>
=======
    introductionList: Array<string>
>>>>>>> 63836dd (Update: Updated tailwind config. Implemented Dark and Light Mode)
}
const { introductionList } = Astro.props as Props;
---

<ul class="introduction-list my-3 flex flex-wrap w-100 content-center">
    {
<<<<<<< HEAD
        IntroductionList.map( (IntroductionList) => (
            <li>{IntroductionList}</li>
>>>>>>> cade9f7 (Update: Created Title Component & Introduction List partial.)
=======
        introductionList.map( listItem => (
            <li>{listItem}</li>
>>>>>>> 63836dd (Update: Updated tailwind config. Implemented Dark and Light Mode)
        ))
    }
</ul>