---
export interface Props {
    title: string
}
const { title } = Astro.props as Props;
---

<div class="post-title text-lg mb-4 font-title">
    <h1 class="h4">{title}</h1>
    <!-- /.tags -->
</div>