---
export interface Props {
    title: string
}
const { title } = Astro.props as Props;
---

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<div class="post-title text-lg mb-4 text-grey dark:text-white font-title">
    <h1 class="h4">{title}</h1>
=======
<div class="post-title text-5xl font-title">
    <h1>{title}</h1>
>>>>>>> 63836dd (Update: Updated tailwind config. Implemented Dark and Light Mode)
=======
<div class="post-title text-lg mb-4 font-title">
=======
<div class="post-title text-lg mb-4 text-grey dark:text-white font-title">
>>>>>>> d66a6c6 (Update: Changes within the Logs and sorting of log items.)
    <h1 class="h4">{title}</h1>
>>>>>>> 64311ed (Addition: Finalised Post Layout for posts layout and tried Markdown using the PostLayout)
    <!-- /.tags -->
</div>