---
export interface Props {
    tags: Array<string>
}
const { tags } = Astro.props as Props;
---

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<ul class="tags-styling flex ml-auto mb-8">
    {tags.map((tag) => <li class="mr-2 text-white inline-block dark:text-white text-xs p-1 px-3 rounded-sm w-auto bg-[#d82456]">{tag}</li>)}
=======
<ul class="tags-styling">
=======
<ul class="tags-styling flex ">
>>>>>>> 64311ed (Addition: Finalised Post Layout for posts layout and tried Markdown using the PostLayout)
    {tags.map((tag) => <li>{tag}</li>)}
>>>>>>> 63836dd (Update: Updated tailwind config. Implemented Dark and Light Mode)
=======
<ul class="tags-styling flex ml-auto mb-8">
    {tags.map((tag) => <li class="mr-2 text-white inline-block dark:text-white text-xs p-1 px-3 rounded-sm w-auto bg-[#d82456]">{tag}</li>)}
>>>>>>> d66a6c6 (Update: Changes within the Logs and sorting of log items.)
</ul>
<!-- /.tags-styling -->