---
import Header from "../components/partials/Header.astro";
export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en" class="">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
	</head>
	<body class="bg-white dark:bg-grey-900 text-black dark:text-white transition duration-300">
		<Header />
		<main id="main" class="m-auto mx-0" data-scroll-container>
			<slot />
		</main>
		<script src="/script/general.js" is:inline type="module"></script>
		<script src="/script/locomotive-scroll.min.js" is:inline type="module"></script>
	</body>
</html>

<style lang="scss" is:global>
	@use '../styles/reset.scss' as *;
	@use '../styles/mixin.scss' as *;
	@import  '../../node_modules/locomotive-scroll/src/locomotive-scroll.scss';
	:root {
		color-scheme: dark light;
		--font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
		--font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
		--font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
		--font-title: 'Nunito', sans-serif;
		--font-body: 'Nunito', sans-serif;
		--bg-primary: rgb(255, 255, 255);
		--color-text: #28292A;
		--color-bg: hsl(10, 21%, 95%);
		--color-border: hsl(17, 24%, 90%);
	}

	/* 
	// Start adding styling
	*/
	html {
		font-size: var(--font-size-base);
		background-color: var(--bg-primary);
	}

	body {
		margin: 0;
		background-image: url(../img/noise-bg.png);
		background-size:rem(150) rem(150);
		font-family: var(--font-body);
		font-weight: 500;
	}

	main {
		min-height:100vh;
		&#main {
			width:100%;
		}
	}

	.section-wrapper {
		max-width: rem(672);
		margin:0 auto;
	}

	a {
		transition: color cubic-bezier(.32,2,.55,.27) 0.8s, fill cubic-bezier(.32,2,.55,.27) 0.8s;
		svg {
			transition: color cubic-bezier(.32,2,.55,.27) 0.8s, fill cubic-bezier(.32,2,.55,.27) 0.8s;
		}
		&:hover {

		}
	}

	:global(code) {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
	
	h1,h2,h3,h4,h5,h6 {
		font-family:var(--font-body);
		font-weight:600;
	}
	.content {
		font-family: var(--font-body);
		h1, h2, h3, h4, h5, h6 {
			font-family: inherit;
			font-size:revert;
		}
	}
</style>
