---
import Header from "@partials/Header.astro";
import Footer from "@partials/Footer.astro";
export interface Props {
	title: string;
	cannonical: string;
	description: string;
}

const { title, cannonical, description } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en" class="bg-white dark:bg-grey-900 ">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous" />
		<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap" rel="stylesheet">
		<style data-href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap">
			@font-face{ /*cyrillic-ext*/@font-face{font-family:'Manrope';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/manrope/v13/xn7gYHE41ni1AdIRggqxSvfedN62Zw.woff2)format('woff2');unicode-range:U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F;}/*cyrillic*/@font-face{font-family:'Manrope';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/manrope/v13/xn7gYHE41ni1AdIRggOxSvfedN62Zw.woff2)format('woff2');unicode-range:U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;}/*greek*/@font-face{font-family:'Manrope';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/manrope/v13/xn7gYHE41ni1AdIRggSxSvfedN62Zw.woff2)format('woff2');unicode-range:U+0370-03FF;}/*vietnamese*/@font-face{font-family:'Manrope';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/manrope/v13/xn7gYHE41ni1AdIRggixSvfedN62Zw.woff2)format('woff2');unicode-range:U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+1EA0-1EF9,U+20AB;}/*latin-ext*/@font-face{font-family:'Manrope';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/manrope/v13/xn7gYHE41ni1AdIRggmxSvfedN62Zw.woff2)format('woff2');unicode-range:U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF;}/*latin*/@font-face{font-family:'Manrope';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/manrope/v13/xn7gYHE41ni1AdIRggexSvfedN4.woff2)format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;}/*cyrillic-ext*/@font-face{font-family:'Manrope';font-style:normal;font-weight:500;font-display:swap;src:url(https://fonts.gstatic.com/s/manrope/v13/xn7gYHE41ni1AdIRggqxSvfedN62Zw.woff2)format('woff2');unicode-range:U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F;}/*cyrillic*/@font-face{font-family:'Manrope';font-style:normal;font-weight:500;font-display:swap;src:url(https://fonts.gstatic.com/s/manrope/v13/xn7gYHE41ni1AdIRggOxSvfedN62Zw.woff2)format('woff2');unicode-range:U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;}/*greek*/@font-face{font-family:'Manrope';font-style:normal;font-weight:500;font-display:swap;src:url(https://fonts.gstatic.com/s/manrope/v13/xn7gYHE41ni1AdIRggSxSvfedN62Zw.woff2)format('woff2');unicode-range:U+0370-03FF;}/*vietnamese*/@font-face{font-family:'Manrope';font-style:normal;font-weight:500;font-display:swap;src:url(https://fonts.gstatic.com/s/manrope/v13/xn7gYHE41ni1AdIRggixSvfedN62Zw.woff2)format('woff2');unicode-range:U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+1EA0-1EF9,U+20AB;}/*latin-ext*/@font-face{font-family:'Manrope';font-style:normal;font-weight:500;font-display:swap;src:url(https://fonts.gstatic.com/s/manrope/v13/xn7gYHE41ni1AdIRggmxSvfedN62Zw.woff2)format('woff2');unicode-range:U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF;}/*latin*/@font-face{font-family:'Manrope';font-style:normal;font-weight:500;font-display:swap;src:url(https://fonts.gstatic.com/s/manrope/v13/xn7gYHE41ni1AdIRggexSvfedN4.woff2)format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;}/*cyrillic-ext*/@font-face{font-family:'Manrope';font-style:normal;font-weight:600;font-display:swap;src:url(https://fonts.gstatic.com/s/manrope/v13/xn7gYHE41ni1AdIRggqxSvfedN62Zw.woff2)format('woff2');unicode-range:U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F;}/*cyrillic*/@font-face{font-family:'Manrope';font-style:normal;font-weight:600;font-display:swap;src:url(https://fonts.gstatic.com/s/manrope/v13/xn7gYHE41ni1AdIRggOxSvfedN62Zw.woff2)format('woff2');unicode-range:U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;}/*greek*/@font-face{font-family:'Manrope';font-style:normal;font-weight:600;font-display:swap;src:url(https://fonts.gstatic.com/s/manrope/v13/xn7gYHE41ni1AdIRggSxSvfedN62Zw.woff2)format('woff2');unicode-range:U+0370-03FF;}/*vietnamese*/@font-face{font-family:'Manrope';font-style:normal;font-weight:600;font-display:swap;src:url(https://fonts.gstatic.com/s/manrope/v13/xn7gYHE41ni1AdIRggixSvfedN62Zw.woff2)format('woff2');unicode-range:U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+1EA0-1EF9,U+20AB;}/*latin-ext*/@font-face{font-family:'Manrope';font-style:normal;font-weight:600;font-display:swap;src:url(https://fonts.gstatic.com/s/manrope/v13/xn7gYHE41ni1AdIRggmxSvfedN62Zw.woff2)format('woff2');unicode-range:U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF;}/*latin*/@font-face{font-family:'Manrope';font-style:normal;font-weight:600;font-display:swap;src:url(https://fonts.gstatic.com/s/manrope/v13/xn7gYHE41ni1AdIRggexSvfedN4.woff2)format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;}/*cyrillic-ext*/@font-face{font-family:'Manrope';font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/manrope/v13/xn7gYHE41ni1AdIRggqxSvfedN62Zw.woff2)format('woff2');unicode-range:U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F;}/*cyrillic*/@font-face{font-family:'Manrope';font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/manrope/v13/xn7gYHE41ni1AdIRggOxSvfedN62Zw.woff2)format('woff2');unicode-range:U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;}/*greek*/@font-face{font-family:'Manrope';font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/manrope/v13/xn7gYHE41ni1AdIRggSxSvfedN62Zw.woff2)format('woff2');unicode-range:U+0370-03FF;}/*vietnamese*/@font-face{font-family:'Manrope';font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/manrope/v13/xn7gYHE41ni1AdIRggixSvfedN62Zw.woff2)format('woff2');unicode-range:U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+1EA0-1EF9,U+20AB;}/*latin-ext*/@font-face{font-family:'Manrope';font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/manrope/v13/xn7gYHE41ni1AdIRggmxSvfedN62Zw.woff2)format('woff2');unicode-range:U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF;}/*latin*/@font-face{font-family:'Manrope';font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/manrope/v13/xn7gYHE41ni1AdIRggexSvfedN4.woff2)format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;}/*cyrillic-ext*/@font-face{font-family:'Manrope';font-style:normal;font-weight:800;font-display:swap;src:url(https://fonts.gstatic.com/s/manrope/v13/xn7gYHE41ni1AdIRggqxSvfedN62Zw.woff2)format('woff2');unicode-range:U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F;}/*cyrillic*/@font-face{font-family:'Manrope';font-style:normal;font-weight:800;font-display:swap;src:url(https://fonts.gstatic.com/s/manrope/v13/xn7gYHE41ni1AdIRggOxSvfedN62Zw.woff2)format('woff2');unicode-range:U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;}/*greek*/@font-face{font-family:'Manrope';font-style:normal;font-weight:800;font-display:swap;src:url(https://fonts.gstatic.com/s/manrope/v13/xn7gYHE41ni1AdIRggSxSvfedN62Zw.woff2)format('woff2');unicode-range:U+0370-03FF;}/*vietnamese*/@font-face{font-family:'Manrope';font-style:normal;font-weight:800;font-display:swap;src:url(https://fonts.gstatic.com/s/manrope/v13/xn7gYHE41ni1AdIRggixSvfedN62Zw.woff2)format('woff2');unicode-range:U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+1EA0-1EF9,U+20AB;}/*latin-ext*/@font-face{font-family:'Manrope';font-style:normal;font-weight:800;font-display:swap;src:url(https://fonts.gstatic.com/s/manrope/v13/xn7gYHE41ni1AdIRggmxSvfedN62Zw.woff2)format('woff2');unicode-range:U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF;}/*latin*/@font-face{font-family:'Manrope';font-style:normal;font-weight:800;font-display:swap;src:url(https://fonts.gstatic.com/s/manrope/v13/xn7gYHE41ni1AdIRggexSvfedN4.woff2)format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;} }
		</style>
		<link rel="stylesheet" href="/styles/atom-dark.css">
		<link rel="cannonical" href={ cannonical || Astro.url.href} >
		<meta name="description" content={description}>
		<meta name="robots" content="index">
		<meta name="google-site-verification" content="5AnKgC1eGZwLB-7QGAaEhI7Q0U_sYmQ9mpduIzccpgI" />
		<script is:inline>
			if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
				localStorage.theme = 'dark';
				document.documentElement.classList.add('dark');
			} else {
				localStorage.theme = 'light'
			}
  		</script>
	</head>
	<body class="bg-white dark:bg-grey-900 text-black dark:text-white transition duration-300">
		<a href="#main" class="sr-only focus:not-sr-only block w-100 text-white text-center py-4 bg-[#d82456] skiplink">
			<span>Skip to Content</span>
		</a>
		<Header />
		<main id="main" class="m-auto mx-0">
			<slot />
		</main>
		<Footer 
			github_link="https://github.com/christian-luntok"
			linkedin_link="https://www.linkedin.com/in/christian-luntok/" 
		/>
		<script src="/script/general.js" is:inline type="module"></script>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-146484397-1"></script>
		<script is:inline>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-146484397-1');
		</script>
	</body>
</html>

<style lang="scss" is:global>
	@use '../styles/reset.scss' as *;
	@use '../styles/mixin.scss' as *;
	:root {
		color-scheme: dark light;
		--font-size-base: 16px;
		--font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
		--font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
		--font-title: 'Manrope', sans-serif;
		--font-body: 'Manrope', sans-serif;
		--bg-primary: rgb(255, 255, 255);
		--color-text: #28292A;
		--brand-color-1: #d82456;
		--color-bg: hsl(10, 21%, 95%);
		--color-border: hsl(17, 24%, 90%);
		--shadow-color: 0deg 0% 74%;
		--shadow-elevation-low:
			0px 0.5px 0.6px hsl(var(--shadow-color) / 0.23),
			0px 0.8px 0.9px -1.3px hsl(var(--shadow-color) / 0.22),
			0px 1.7px 1.9px -2.5px hsl(var(--shadow-color) / 0.22);
		--shadow-elevation-medium:
			0px 0.5px 0.6px hsl(var(--shadow-color) / 0.24),
			0px 1.5px 1.7px -0.8px hsl(var(--shadow-color) / 0.24),
			-0.1px 3.6px 4px -1.7px hsl(var(--shadow-color) / 0.23),
			-0.2px 8.6px 9.6px -2.5px hsl(var(--shadow-color) / 0.23);
		--shadow-elevation-high:
			0px 0.5px 0.6px hsl(var(--shadow-color) / 0.25),
			-0.1px 2.4px 2.7px -0.4px hsl(var(--shadow-color) / 0.25),
			-0.1px 4.5px 5px -0.8px hsl(var(--shadow-color) / 0.25),
			-0.2px 7.8px 8.7px -1.3px hsl(var(--shadow-color) / 0.25),
			-0.3px 13.2px 14.8px -1.7px hsl(var(--shadow-color) / 0.25),
			-0.6px 21.7px 24.3px -2.1px hsl(var(--shadow-color) / 0.25),
			-0.9px 34.2px 38.2px -2.5px hsl(var(--shadow-color) / 0.25);
	}

	/* 
	// Start adding styling
	*/
	html {
		font-size: var(--font-size-base);
		background-color: var(--bg-primary);
	}

	body {
		margin: 0;
		background-image: url(../img/noise-bg.png);
		background-size:rem(150) rem(150);
		font-family: var(--font-body);
		font-weight: 500;
		height:100%;
		min-height: 100vh;
	}

	main {
		min-height:10vh;
		&#main {
			width:100%;
		}
	}

	.section-wrapper {
		max-width: rem(672);
		margin:0 auto;
	}

	a {
		color: var(--brand-color-1);
		transition: color cubic-bezier(.32,2,.55,.27) 0.8s, fill cubic-bezier(.32,2,.55,.27) 0.8s;
		svg {
			transition: color cubic-bezier(.32,2,.55,.27) 0.8s, fill cubic-bezier(.32,2,.55,.27) 0.8s;
		}
		&:hover {
		}
	}


	
	h1,h2,h3,h4,h5,h6 {
		font-family:var(--font-body);
		font-weight:700 !important;
		line-height:1.6;
	}
	
	h1, .h1 {
		font-size:rem(56);
	}
	h2, .h2 {
		font-size:rem(48);
	}
	h3, .h3 {
		font-size:rem(36);
	}
	h4, .h4 {
		font-size:rem(24);
	}
	h5, .h5 {
		font-size:rem(18);
	}
	h6, .h6 {
		font-size: var(--font-size-base);
	}


	.content {

		font-family: var(--font-body);
		h1, h2, h3, h4, h5, h6 {
			font-family: inherit;
			font-size:revert;
		}

		a {
			text-decoration: underline;
			font-weight:600;
			color: var(--brand-color-1);
		}
        p {
			font-size:16px;
            margin:rem(16) 0;
			code {
				padding: rem(2) rem(4);
				background: var(--color-bg);
				color: var(--brand-color-1);
				border-radius: rem(4);
				font-weight:700;
			}
        }
		img {
			border-radius: rem(8);
			max-width:100%;
			margin:0 auto;
			box-shadow: var(--shadow-elevation-high);
			@screen md {
				max-width: rem(550)
			}
		}
		ul {
			list-style-type: disc;
			margin:rem(20) 0;
			padding-left: rem(32);
			font-size:16px;
			li {
				margin:rem(8) 0;
				padding-left:rem(5);
			}
		}
    }
</style>
