---
import GoogleFont from '@components/partials/GoogleFont.astro';
export interface Props {
	title: string;
	cannonical: string;
	description: string;
    font_href: string;
}

const { title, cannonical, description, font_href } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en" class="">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
        <GoogleFont link_href={font_href}></GoogleFont>
		<link rel="stylesheet" href="/styles/atom-dark.css">
		<link rel="cannonical" href={ cannonical || Astro.url.href} >
		<meta name="description" content={description}>
		<meta name="robots" content="index">
		<meta name="google-site-verification" content="5AnKgC1eGZwLB-7QGAaEhI7Q0U_sYmQ9mpduIzccpgI" />
	</head>
	<body>
		<a href="#main" class="sr-only focus:not-sr-only block w-100 text-white text-center py-4 bg-[#d82456]">
			<span>Skip to Content</span>
		</a>
		<main id="main" class="m-auto mx-0">
			<slot />
		</main>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-146484397-1"></script>
		<script is:inline>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-146484397-1');
		</script>
	</body>
</html>

<style lang="scss" is:global>
	@use '../styles/reset.scss' as *;
	@use '../styles/mixin.scss' as *;
</style>